
manifest {
    name = 'crukci-bioinformatics/mga2'
    author = 'Matt Eldridge'
    homePage = 'https://github.com/crukci-bioinformatics/mga2'
    description = 'Multi-Genome Alignment (MGA) contaminant screen for genomic sequencing data'
    mainScript = 'mga2.nf'
    nextflowVersion = '>=20.10.0'
    version = '2.0.1'
}

params {
    showSettings          = true
    help                  = false
    sampleSheet           = "samplesheet.csv"
    fastqDir              = ""
    sampleSize            = 100000
    maxNumberToSampleFrom = Long.MAX_VALUE
    chunkSize             = 1000000
    trimStart             = 1
    trimLength            = 36
    genomeDetails         = "${projectDir}/resources/genomes.csv"
    bowtieIndexDir        = "bowtie_indexes"
    adaptersFasta         = "${projectDir}/resources/adapters.fa"
    outputDir             = "${launchDir}"
    outputPrefix          = ""
}

process {
    container = 'crukcibioinformatics/mga2:2.0.1'

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }

    cpus = 1
    memory = 1.GB
    time = 1.hour
}

singularity {
    autoMounts = true
    cacheDir = "${launchDir}"
}

profiles {
    standard {
        process.executor = 'local'
        executor {
            cpus = 4
            memory = 16.GB
        }
    }

    bigserver {
        process.executor = 'local'
        executor {
            cpus = 30
            memory = 128.GB
        }
    }

    cluster {
        process.executor = 'slurm'
        executor {
            queueSize = 50
            pollInterval = 30.sec
            jobName = { "'$task.name'" }
        }
        singularity.enabled = true
    }
}

