
manifest {
    name = 'crukci-bioinformatics/mga2'
    author = 'Matt Eldridge'
    homePage = 'https://github.com/crukci-bioinformatics/mga'
    description = 'Multi-Genome Alignment (MGA) contaminant screen for genomic sequencing data'
    mainScript = 'mga2.nf'
    nextflowVersion = '>=20.10.0'
    version = '2.0.0'
}


// capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']


profiles {
    standard {
        process.executor = 'local'
        executor.$local.cpus = 4
        executor.$local.memory = '6 GB'
    }
}


